<h1>Add and Remove Channels to your Homepage</h1>

<br><br>

<h2>Add:</h2>
<form action="/add" method="post">
  <h3>Which site would you like to add a source from?</h3>
  <br>
  <%@sites.each do |site|%>
    <%=site.name%><input type="radio" name="site" value="<%=site.name%>" required>
  <%end%>
  <br>
  Section: <input type="text" name="modifier" required>
  <input type="submit" value="Add!">
</form>

<br><br>
<h2>Remove:</h2>
<form action="/add" method="post">
  <h3>Which of your </h3>
  <br>
  <%@channels.each do |channel|%>
    <%=channel.name%><input type="radio" name="channel" value="<%=channel.name%>" required>
  <%end%>
  <input type="submit" value="Remove!">
</form>
