<h1>Add and Remove Channels to your Homepage</h1>

<br><br>

<h2>Add:</h2>
<form action="/add" method="post">
  <h3>Which site would you like to add a source from?</h3>
  <br>
  <%@sites.each do |site|%>
    <p>
      <input type="radio" name="site" value="<%=site.name%>" required> <%=site.name%>

    </p>
  <%end%>
  <br>
  Section: <input type="text" name="modifier" required>
  <input class = "button-primary" type="submit" value="Add!">
</form>

<br><br>
<h2>Remove:</h2>
<form action="/remove" method="post">
  <h3>Which of your Channels would you like to remove?</h3>
  <br>
  <%@channels.each do |channel|%>
    <input type="radio" name="channel" value="<%=channel.name%>" required> <%=channel.full_name%>
    <br>
  <%end%>
  <input class = "button-primary" type="submit" value="Remove!">
</form>
