body {
  overflow: auto;
  position: relative;
}

/*Headers*/
h1.header-text {
  color: #fff;
  font-family: 'Raleway',sans-serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; }

.header-box{
  background-image: url(../images/top-banner.jpg);
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  padding-bottom: 5rem;
  position: fixed;
}

/*source boxes */
.source{
  background-color: #fff;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/*initial menus */
.menu {
  text-align: left;
  background: #fff;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}



/*menu styling*/

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  position: relative;
}

.menu a {
  color: #111;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

/*buttons for menu*/

.section > .icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
